@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
 
 
 * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

 }
 header{
    position: fixed;
    background: rgba(255, 255, 255, .1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: .5s ease;


 }
 header.sticky{
   background: crimson;
   padding: 10px 100px;
 }
 header .brand{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

 }
 header.sticky{
   padding: 10px 20px;
 }
 header .navigation{
    position: relative;
 }
 header .navigation.active{
   z-index: 888;
   position: fixed;
   background: #fff;
   top: 0;
   right: 0;
   width: 380px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-shadow: 0 5px 25px rgba(1 1 1 /15%);
   transition: 3s ease;


 }

 header .navigation a{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: .5s ease;

 }
 header .navigation a:hover{
    color: #666;
 }
 section {
   padding: 100px;
 }
 .main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./images/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;



 }
 .main .content{
    max-width: 800px;

 }
 .main .content h2{
    color: #fff;
    font-size: 36px;
    font-weight: 500;

 }
 .main .content h2 span{
    font-size: 60px;
    font-weight: 600;

 }
 .animated-text{
    height: 70px;
    overflow: hidden;
    position: relative;
 }
 .animated-text h3{
    color: crimson;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;


 }
 .animated-text h3:nth-child(1) {
    animation: text-move 10s infinite

 }
 @keyframes text-move{
  0%{
    margin-top: 0;

  }
  25%{
    margin-top: -70px;
  }
  50%{
    margin-top: -140px;
  }
  75%{
    margin-top: -70px;
  }
  100%{
    margin-top: 0;

  }
 }
 .btn{
    color: #fff;
    background-color: crimson;
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 3px;
    margin: 30px 0;
    transition: .5s ease;
    

 }
 .btn:hover{
    background: #fff;
    color: #000;
 }
 .media-icons a{
    color:#fff;
    font-size: 25px;
    margin-right: 30px;


 }
 .tittle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

 }
 .section-tittle{
    position: relative;
    color: crimson;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 60px;

 }
 .section-tittle::before{
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: crimson;
    transform: translateX(-50%);
       
 }
 .section-tittle::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: crimson;
    transform: translateX(-50%);
 }
 .about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

 }
 .about .content .col-left{
    position: relative;
    width: 45%;

 }
 .about .content .col-right{
    position: relative;
   width: 45%;

    

 }
 .about .content .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;

 }
.about .content .img-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.about .content-title{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;

}
.skills{
    background: #000016;

}
.skills .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;

}
.skills .col-left{
    position: relative;
    width: 45%;

}
.skills .col-left .content-title{
    margin-bottom: 20px;

}
.skills .col-right{
    position: relative;
    width: 45%;
}
.skills .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;


}
.skills .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

}
.skills .info span{
    font-size: 18px;
    font-weight: 800;

}
.skills .line{
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;



}
.skills .line::before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
}
.skills .html::before{
    width: 80%;
    background: #E45126;

}
.skills .css::before{
    width: 55%;
    background: #30DD6D;

}
.skills .Java::before{
    width: 12%;
    background: #f7f7f7;

}
.skills .query::before{
    width: 30%;
    background: #E3A324;

}
.skills .php::before{
    width: 50%;
    background: #d1df11;


}
.services .content{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   margin-top: 20px;


}
.tittle p{
   width: 80%;
}
.services .content .card{
   background: #fff;
   width: 300px;
   margin: 10px;
   padding: 25px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-shadow: 0 5px 25px rgba(1 1 1 /15%);
   border-radius: 10px;

}
.services .card .services-icon{
   color: crimson;
   font-size: 120px;
   text-align: center;
   transition: transform .5s ease;


}
.services .card .services-icon:hover{
   transform: translateY(-10px);
}
.services .card .info{
   text-align: center;

}
.services .card .info h3{
   color: crimson;
   font-size: 20px;
   font-weight: 700;
   margin: 10px;
}
.work {
   background: #000016;
}

.work .content{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   margin-top: 20px;
}
.work .content .card{
   width: 340px;
   margin: 15px;
}
.work .content .card-img{
   position: relative;
   width: 100%;
   height: 260px;
   border-radius: 10px;
   overflow: hidden;

}
.work .content .card-img img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
   transition: .5s ease;

}
.work .content .card-img img:hover{
   transform: scale(1.2);
}
.contact .content{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
   margin-top: 20px;

}
.contact .content .row{
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;

}
.contact .row .card{
   background: #fff;
   width: 240px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 20px;
   padding: 25px;
   box-shadow: 0 5px 25px rgba(1 1 1 /15%);
   border-radius: 10px;


}
.contact .card .contact-icon{
   color: crimson;
   font-size: 60px;
   text-align: center;
   transition: transform .5s ease;

}
.contact .card:hover .contact-icon{
   transform: translateY(-10px);
}
.contact .card .info h3{
   color: #111;
   font-size: 20px;
   font-weight: 700;
   margin: 10px;
}
.contact .card .info span{
   color: #666;
   font-weight: 500;

}
.contact-form{
   background: #fff;
   max-width: 600px;
   margin-top: 50px;
   padding: 50px;
   border-radius: 10px;
   box-shadow: 0 5px 25px rgba(1 1 1 /15%);
}
.contact-form h3{
   color: #111;
   font-size: 25px;
   font-weight: 600;
   text-align: center;
   margin-bottom: 40px;

}
.contact-form .input-box{
   position: relative;
   width: 100%;
   margin-bottom: 20px;


}
.contact-form .input-box input, 
.contact-form .input-box textarea {
   color: #111;
   width: 100%;
   font-size: 10px;
   padding: 17px;
   font-weight: 400;
   outline: none;
   border: 1px solid #111;
   border-radius: 5px;
   resize: none;

}
.contact-form .input-box .send-btn{
   color: #fff;
   background: crimson;
   display: inline-block;
   font-size: 19px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 2px;
   width: 100%;
   border: none;
   cursor: pointer;
   transition: .5s ease;
}
.contact-form .input-box .send-btn:hover{
   background: #fff;
   color: #000;
   border: 1px solid #111;

}

@media (max-width: 1049px){
   header{
      padding: 12px 20px;

   }
   header .navigation{
      display: none;
   }
   header .navigation a{

      color: #000;
      
      font-size: 22px;
      margin: 10px;
      padding: 0  20px;
      border-radius: 20px;
   }
   header .navigation a:hover{
      background: crimson;
      color: #fff;
   }
   .menu-btn{
      position: absolute;
      background: url(./images/menu.png) no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      right: 0;
      margin: 0 20px;
      cursor: pointer;
      transition: .4s ease;

   }
   .menu-btn.active{
      z-index: 999;
      background: url(./images/close.png) no-repeat;
      background-size: 25px;
      background-position: center;
      transition: .3s ease;
      filter: invert(1);
   }
   section{
      padding: 80px 20px;
   }
   .main .content h2{
      font-size: 25px;
   }
   .main .content h3{
      font-size: 35px;
   }
   section--tittle {
      font-size: 36px;
   }
   .about .content{
      flex-direction: column;

   }
   .about .content .column{
      position: relative;
      width: 100%;
   }
   .about .content .col-right{
      margin-top: 40px;
   }
   .skills .content{
      flex-direction: column;
   }
   .skills .content .column{
      position: relative;
      width: 100%;
   }
   .skills .content .col-right{
      margin-top: 40px;
   }
   .contact-form{
      padding:35px 40px ;
   }
}
.scrollToTop-btn{
   z-index: 999;
   position: fixed;
   background: crimson;
   color: #fff;
   width: 45px;
   height: 45px;
   right: 0;
   
   bottom: 10px;
   font-size: 22px;
   text-align: center;
   line-height: 45px;
   border-radius: 5px;
   cursor: pointer;
   opacity: 0;
   transition: all .3s ease;



}
.scrollToTop-btn.active{
   right: 20px;
   opacity: 1;

}
.reveal{
   position: relative;
   transform: translateY(50px);
   opacity: 0;

}
.reveal.active{
   transform: translateY(0);
   opacity: 1;
   transition: all 1.3s ease;
}
* {
   margin: 0;
   padding: 0;
 }
 a {
   color: #fff;
   text-decoration: none;
 }
 .pg-footer {
   font-family: 'Roboto', sans-serif;
 }
 
 
 .footer {
     background-color: #004658;
     color: #fff;
 }
 .footer-wave-svg {
     background-color: transparent;
     display: block;
     height: 30px;
     position: relative;
     top: -1px;
     width: 100%;
 }
 .footer-wave-path {
     fill: #fffff2;
 }
 
 .footer-content {
     margin-left: auto;
     margin-right: auto;
     max-width: 1230px;
     padding: 40px 15px 450px;
     position: relative;
 }
 
 .footer-content-column {
     box-sizing: border-box;
     float: left;
     padding-left: 15px;
     padding-right: 15px;
     width: 100%;
     color: #fff;
 }
 
 .footer-content-column ul li a {
   color: #fff;
   text-decoration: none;
 }
 
 .footer-logo-link {
     display: inline-block;
 }
 .footer-menu {
     margin-top: 30px;
 }
 
 .footer-menu-name {
     color: #fffff2;
     font-size: 15px;
     font-weight: 900;
     letter-spacing: .1em;
     line-height: 18px;
     margin-bottom: 0;
     margin-top: 0;
     text-transform: uppercase;
 }
 .footer-menu-list {
     list-style: none;
     margin-bottom: 0;
     margin-top: 10px;
     padding-left: 0;
 }
 .footer-menu-list li {
     margin-top: 5px;
 }
 
 .footer-call-to-action-description {
     color: #fffff2;
     margin-top: 10px;
     margin-bottom: 20px;
 }
 .footer-call-to-action-button:hover {
     background-color: #fffff2;
     color: #00bef0;
 }
 .button:last-of-type {
     margin-right: 0;
 }
 .footer-call-to-action-button {
     background-color: #027b9a;
     border-radius: 21px;
     color: #fffff2;
     display: inline-block;
     font-size: 11px;
     font-weight: 900;
     letter-spacing: .1em;
     line-height: 18px;
     padding: 12px 30px;
     margin: 0 10px 10px 0;
     text-decoration: none;
     text-transform: uppercase;
     transition: background-color .2s;
     cursor: pointer;
     position: relative;
 }
 .footer-call-to-action {
     margin-top: 30px;
 }
 .footer-call-to-action-title {
     color: #fffff2;
     font-size: 14px;
     font-weight: 900;
     letter-spacing: .1em;
     line-height: 18px;
     margin-bottom: 0;
     margin-top: 0;
     text-transform: uppercase;
 }
 .footer-call-to-action-link-wrapper {
     margin-bottom: 0;
     margin-top: 10px;
     color: #fff;
     text-decoration: none;
 }
 .footer-call-to-action-link-wrapper a {
     color: #fff;
     text-decoration: none;
 }
 
 
 
 
 
 .footer-social-links {
     bottom: 0;
     height: 54px;
     position: absolute;
     right: 0;
     width: 236px;
 }
 
 .footer-social-amoeba-svg {
     height: 54px;
     left: 0;
     display: block;
     position: absolute;
     top: 0;
     width: 236px;
 }
 
 .footer-social-amoeba-path {
     fill: #027b9a;
 }
 
 .footer-social-link.linkedin {
     height: 40px;
     left: 3px;
     top: 11px;
     width: 40px;
 }
 
 .footer-social-link {
     display: block;
     padding: 10px;
     position: absolute;
 }
 
 .hidden-link-text {
     position: absolute;
     clip: rect(1px 1px 1px 1px);
     clip: rect(1px,1px,1px,1px);
     -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
     clip-path: inset(0px 0px 99.9% 99.9%);
     overflow: hidden;
     height: 1px;
     width: 1px;
     padding: 0;
     border: 0;
     top: 50%;
 }
 
 .footer-social-icon-svg {
     display: block;
 }
 
 .footer-social-icon-path {
     fill: #fffff2;
     transition: fill .2s;
 }
 
 .footer-social-link.twitter {
     height: 40px;
     left: 62px;
     top: 3px;
     width: 40px;
 }
 
 .footer-social-link.youtube {
     height: 40px;
     left: 123px;
     top: 12px;
     width: 40px;
 }
 
 .footer-social-link.github {
     height: 40px;
     left: 172px;
     top: 7px;
     width: 40px;
 }
 
 .footer-copyright {
     background-color: #027b9a;
     color: #fff;
     padding: 15px 30px;
   text-align: center;
 }
 
 .footer-copyright-wrapper {
     margin-left: auto;
     margin-right: auto;
     max-width: 1200px;
 }
 
 .footer-copyright-text {
   color: #fff;
     font-size: 13px;
     font-weight: 400;
     line-height: 18px;
     margin-bottom: 0;
     margin-top: 0;
 }
 
 .footer-copyright-link {
     color: #fff;
     text-decoration: none;
 }
 
 
 
 
 
 
 
 /* Media Query For different screens */
 @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
   .footer-content {
     margin-left: auto;
     margin-right: auto;
     max-width: 1230px;
     padding: 40px 15px 1050px;
     position: relative;
   }
 }
 @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
   .footer-content {
     margin-left: auto;
     margin-right: auto;
     max-width: 1230px;
     padding: 40px 15px 1050px;
     position: relative;
   }
 }
 @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
   .footer-content {
     margin-left: auto;
     margin-right: auto;
     max-width: 1230px;
     padding: 40px 15px 1050px;
     position: relative;
   }
 }
 @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
 
 }
 @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
 
 }
 @media (min-width:1281px) { /* hi-res laptops and desktops */
 
 }
 
 
 
 
 @media (min-width: 760px) {
   .footer-content {
       margin-left: auto;
       margin-right: auto;
       max-width: 1230px;
       padding: 40px 15px 450px;
       position: relative;
   }
 
   .footer-wave-svg {
       height: 50px;
   }
 
   .footer-content-column {
       width: 24.99%;
   }
 }
 @media (min-width: 568px) {
   /* .footer-content-column {
       width: 49.99%;
   } */
 }